* {
  @include box-sizing(border-box);
  min-height: 0;
  min-width: 0;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  &:focus{
    outline:0;
  }
}

html,
body {
  height: 100%;
}

html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}


table {  
  border-collapse: collapse;  
  border-spacing: 0;  
}