html {
  font-size: 62.5%;
  @include breakpoint(laptop) {
    font-size: 58%;
  }
  @include breakpoint(tablet) {
    font-size: 55%;
  }
  @include breakpoint(phablet) {
    font-size: 52.5%;
  }
  @include breakpoint(mobile) {
    font-size: 50%;
  }
}

body{
  font-family: 'Roboto', sans-serif;
  @include font-size(14px);
  line-height: normal;
}

h1, h2, h3, h4, h5, h6{
  line-height: normal;
  font-weight: bold;
  margin: 20px 0;
}

h1{
  @include font-size(28px);
}

h2{
  @include font-size(24px);
}

h3{
  @include font-size(20px);
}

h4{
  @include font-size(16px);
}

h5{
  @include font-size(14px);
}

h6{
  @include font-size(12px);
}

p{
  margin: 15px 0;
}
